.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.span-mr {
  margin-right: 5px;
}
.hover-cursor-pointer:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  #welcomeCard {
    width: 75%;
  }
}
